.p-about {
  margin-top: 40px;

  @media screen and (max-width: 768px){
    margin-top: 150px;
    width: 100%;
  }

  &__section {
    background: #ff3300;
    margin-top: 80px;
    padding: 50px 0;

    @media screen and (max-width: 768px){
      padding: 40px 0;
    }
  }

  &__block{
    max-width: 60%;
    height: 200px;
    background: #fff;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 5%;

    &:nth-child(1){
      top: 80px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      display: flex;
    }

    &:nth-child(2){
      margin: 40px 0;
      margin-right: 0;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      display: flex;
      flex-direction: row-reverse;
    }

    @media screen and (max-width: 768px){
      width: calc(100% - 16px);
    }
  }

  &__icon {
    width: 87px;
    @media screen and (max-width: 768px){
      width: 80px;
    }
  }

  &__unit {
    margin-left: 30px;

    @media screen and (max-width: 768px){
      margin-left: 10px;
    }
  }

  &__lead {
    color:#ff3300;
    font-weight:bold;
    font-size: 28px;
    font-size: 2.8rem;
    letter-spacing: 2.8px;

    @media screen and (max-width: 768px){
      font-size: 24px;
      font-size: 2.4rem;
    }
  }

  &__text {
    font-size: 18px;
    font-size: 1.8rem;
    letter-spacing: 1.8px;
  }
}


.inview-slide-left {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 40px;
}
.slide-left {
  animation: slide-left 0.5s ease-out 0s 1 forwards;
}

.inview-slide-right {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.slide-right {
  animation: slide-right 0.5s ease-out 0s 1 forwards;
}

@keyframes slide-right {
  0% {
    transform: translateX(110%);

    @media screen and (max-width: 768px){
      transform: translateX(130%);
    }
  }
  100% {
    opacity: 1;
    transform: translateX(67%);

    @media screen and (max-width: 768px){
      transform: translateX(110%);
    }
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}