img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: '遊ゴシック';
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
